.div1{
    display: grid;
    margin: auto 5rem;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    /* align-items: center; */
    justify-content: space-between;
}
.cards{
    margin: 2rem auto ;
    display: flex;
    justify-content: space-around;
}